language: c
before_install:
 - wget https://github.com/devkitPro/pacman/releases/download/devkitpro-pacman-1.0.1/devkitpro-pacman.deb
 - sudo dpkg -i devkitpro-pacman.deb
 - sudo dkp-pacman -S --noconfirm 3ds-dev
 env:
 - DEVKITPRO=/opt/devkitpro 
 - DEVKITARM=${DEVKITPRO}/devkitARM
 - DEVKITPPC=${DEVKITPRO}/devkitPPC 
 - PATH=${DEVKITPRO}/tools/bin:$PATH 
